body {

    background-color: #0b2661;
    font-family: "Times New Roman"; 
    font-style: italic;
    color:antiquewhite;
    text-shadow: rgba(255,255,255,0.39) 0px 0px 6px;
    margin: 30px;

}

a:link {

    color: antiquewhite;
    text-decoration: none;

}

a:visited {

    color: antiquewhite;
    display: block;
    text-decoration: none; 

}

a:active {

    color: antiquewhite;
    display: block;
    text-decoration: none; 

}

a:link:hover {

    text-decoration: underline;

}